{% extends "::admin.html.twig" %}
{% block breadcrumb %}<li><a href="{{ path('categorie_produit_index') }}">Catégories de produit</a></li><li class="active">Modification de {{categorieProduit.nom}}</li>{% endblock %}
{% block title %} Modification de {{categorieProduit.nom}} {% endblock %}
{% block body %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
         <div class="col-xs-12 center-align">
            <input type="submit" value="Enregistrer" class="btn btn-success"/>
        </div>
    {{ form_end(edit_form) }}

    
{% endblock %}
