{% extends "::admin.html.twig" %}
{% block title %}Liste des denrées{% endblock %}
{% block breadcrumb %}<li><a href="{{ path('denree_index') }}">Denrées</a></li><li class="active">Liste des denrées</li>{% endblock %}
{% block body %}
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="datatable table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix unitaire HT</th>
                        <th>Catégorie</th>
                        <th>Code</th>
                        <th>Auteur</th>
                        <th>Créée le</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for denree in denrees %}
                    <tr id="{{ denree.id }}">
                        <td>{{ denree.nom }}</td>
                        <td>{% if  denree.uniteMesure!=null %}{{ denree.pUHT }} $ / {{ denree.uniteMesure.nom }}{% else %}Auncune unité de mesure défini !{% endif %}</td>
                        <td>{% if  denree.categorieDenree!=null %}{{denree.categorieDenree.nom }}{% else %}Aucune{% endif %}</td>
                        <td>{{ denree.code }}</td>
                        <td>{{ denree.auteur }}</td>
                        <td>{% if denree.dateCreation %}{{ denree.dateCreation|date('d/m/Y') }}{% endif %}</td>
                        <td>
                            <ul class="list-inline">
                                <li><a role="button" href="{{ path('denree_show', { 'id': denree.id }) }}"  role="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Afficher"><span class="glyphicon glyphicon-search"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('denree_edit', { 'id': denree.id }) }}" role="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Modifier"><span class="glyphicon glyphicon-edit"></span></a>
                                </li>
                                <li>
                                    <a data-href="{{ path('denree_delete', { 'id': denree.id }) }}" attr-id="{{denree.id}}" role="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Supprimer"><span class="glyphicon glyphicon-remove"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<div class="fixed-action-btn" data-toggle="tooltip" data-placement="left" title="Créer une nouvelle denrée">
    <a href="{{ path('denree_new') }}" role="button" class="btn btn-success pull-right pulse" ><span class="glyphicon glyphicon-plus"></span></a>
</div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/admin/indexDenree.js') }}"></script>
{% endblock %}