{% extends "::admin.html.twig" %}
{% block breadcrumb %}<li><a href="{{ path('denree_index') }}">Denrées</a></li><li class="active">Détail d'une denrée</li>{% endblock %}
{% block title %}Denrée {{denree.nom}}{% endblock %}
{% block body %}
    <div class="col-xs-12">
            <div class="responsive-table">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ denree.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ denree.nom }}</td>
                        </tr>
                        <tr>
                            <th>PUHT</th>
                        <td>{% if  denree.uniteMesure!=null %}{{ denree.pUHT }} $ / {{ denree.uniteMesure.nom }}{% else %}Auncune unité de mesure défini !{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Catégorie</th>
                            <td>{% if  denree.categorieDenree!=null %}{{denree.categorieDenree.nom }}{% else %}Aucune{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Auteur</th>
                            <td>{{ denree.auteur }}</td>
                        </tr>
                        <tr>
                            <th>Créé le</th>
                            <td>{% if denree.dateCreation %}{{ denree.dateCreation|date('d/m/Y H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
{% endblock %}
