{% extends "::admin.html.twig" %}
{% block title %} Logs {% endblock %}
{% block body %}
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="datatableLogs table table-striped">
                <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Action</th>
                        <th>Type</th>
                        <th>Objet</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for l in logs %}
                    <tr id='{{l.id}}' class='{% if l.typeAction=='Creation' %}success{% elseif l.typeAction=='Suppression'%}danger{%else%}info{%endif%}'>
                        <td>{{ l.auteur }}</td>
                        <td>{{ l.typeAction }}</td>
                        <td>{{ l.entity }}</td>
                        <td>{{l.idEntityText}}</td>
                        <td>{{ l.dateAction|date('d/m/Y h:i')}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/admin/logs.js') }}"></script>
{% endblock %}