{{ form_start(form) }}
    <label class="control-label required" for="catEtapeProduit">Choisissez la catégorie d'étape type</label>
    <select id="catEtapeProduit" class="form-control">
        {% for c in categorieEtapeTypes %}
            <option value="{{c.id}}">{{c.nom}}</option>
        {% endfor %}
    </select>
    
    <label class="control-label required" for="etapeProduit">Choisissez l'étape type</label>
    <select id="etapeProduit" class="form-control">
        <option value="-1">--</option>
        {% for e in etapesTypes %}
            <option value="{{e.id}}">{{e.etapesTypesLang.0.titre}}</option>
        {% endfor %}
    </select>
    <br />
    {% for eP in form.EtapesProduitsLang %}
        <div class="rowLang {% if loop.index>1 %}hide{% endif %}" id="lang{{eP.lang.vars.value}}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 colLang">
                            {{ form_row(eP.lang) }}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        {{ form_row(eP.titre) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_row(eP.contenu) }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <br />
    {{ form_label(form.codeCouleur) }}
    {{ form_widget(form.codeCouleur, { 'attr': {'class': 'jscolor'} }) }}
    {{ form_label(form.dureeType) }}
    {{ form_widget(form.dureeType) }}
    {{ form_label(form.dureeUnite) }}
    {{ form_widget(form.dureeUnite) }}
    {{ form_label(form.dureeValeur) }}
    {{ form_widget(form.dureeValeur) }}
    
{{ form_end(form) }}