{% extends "::admin.html.twig" %}
{% block title %}Liste des produits{% endblock %}
{% block breadcrumb %}<li><a href="{{ path('produit_index') }}">Produits</a></li><li class="active">Liste des produits</li>{% endblock %}
{% block body %}
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="datatable table table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Créer le</th>
                        <th>Photo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for produit in produits %}
                    <tr id="{{ produit.id }}">
                        <td>{{ produit.produitLang[0].titre }}</td>
                        <td>{% if produit.dateCreation %}{{ produit.dateCreation|date('d/m/Y') }}{% endif %}</td>
                        <td style="width:120px">{% if produit.imageName != null %}<a class="thumbnail"><img src="{{ asset('img/products/'~produit.imageName ) }}" class="img img-responsive" alt="{{produit.titre}}" /></a>{% endif %}</td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                    <a role="button" href="{{ path('produit_show', { 'id': produit.id }) }}"  role="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Afficher"><span class="glyphicon glyphicon-search"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('produit_edit', { 'id': produit.id }) }}" role="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Modifier"><span class="glyphicon glyphicon-edit"></span></a>
                                </li>
                                <li>
                                    <a data-id="{{ produit.id }}" data-href="{{ path('produit_delete', { 'id': produit.id }) }}" role="button" class="btn btn-danger btn-sm btn-delete" data-toggle="tooltip" data-placement="top" title="Supprimer"><span class="glyphicon glyphicon-remove"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<div class="fixed-action-btn" data-toggle="tooltip" data-placement="left" title="Créer un nouveau produit">
    <a href="{{ path('produit_new') }}" role="button" class="btn btn-success pull-right pulse" ><span class="glyphicon glyphicon-plus"></span></a>
</div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/admin/showProductList.js') }}"></script>
{% endblock %}
