{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/login.css') }}">
{% endblock %}
{% block bodyclass %}hold-transition login-page{% endblock %}
{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED")==false %}
        <div class="container">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2 animated fadeIn logocontainer" id="mainStack1">
                <div class="login-title col-xs-12">
                    Bienvenue sur l'administration du générateur de fiche
                </div>
                <div class="row">
                    <span class="actionName reversed animated bounceInDown">Connexion</span>
                        <div class="col-xs-12 col-sm-6 login-box-body">
                            <form action="{{ path("login_admin_check", {}) }}" method="POST" >
                                <div class="form-group">
                                    <label for="username" class='active'>Email  :</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"  required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="password" class='active'>Mot de passe :</label>
                                    <input type="password" id="password" name="_password" required="required" class="form-control" >
                                </div>
                                {% if error %}<br /><br />
                                    <div class="animated rubberBand alert-danger alert">
                                        {{error.message}}
                                    </div>    
                                {% endif %}
                                {% set flashe = app.session.flashbag.get('error') %}
                                {% if flashe |length>0  %}
                                    <div class="row rowhome">
                                        <div class="col-xs-12 alert alert-danger">
                                            {% for f in flashe %}
                                                <p class="center-align danger-text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <br /><br /><center><button type="submit" class="btn btn-success" id="_submit" name="_submit"/>{{ 'security.login.submit'|trans }}</button></center>
                            </form>
                        </div>
                        <div class="col hide-on-small-only col-sm-6 login-box-body">
                            <b>Fonctionnalités :</b>
                            <ul class="list-group with-header">
                                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> <span>Gestion des denrées</span></li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> <span>Gestion des produits</span></li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> <span>Gestion des utilisateurs</span></li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> <span>Gestion des catégories de plats</span></li>
                            </ul>
                        </div>


                    </div>
            </div>
        </div>
    {% endif %}
  
{% endblock body %}
